@model (int AvailableSpaces, bool UserHasCarParked)
@{
    ViewData["Title"] = "Home";
}

<a class="btn btn-lg btn-outline-dark mr-5" href="#">Secure</a>
<a class="btn btn-lg btn-outline-dark" href="#">Release</a>
