@model (int AvailableSpaces, bool UserHasCarParked)
@{
    ViewData["Title"] = "Home";
}

<h1>Park-King</h1>
<nav>
    <a class="btn btn-lg btn-outline-dark mr-2" asp-controller="Secure" asp-action="Index">Secure</a>
    <a class="btn btn-lg btn-outline-dark" href="#">Release</a>
</nav>
