@model Car
@{
    ViewData["Title"] = "Secure";
}

<h1>Secure your vehicle</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="BayNumber">Bay Number</label>
        <input class="form-control" asp-for="BayNumber" />
        <span asp-validation-for="BayNumber" class="text-danger"></span>
    </div>

    <input type="submit" value="Next" class="btn btn-primary" />
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
